/* CSS stylesheet to style HTML elements for the Elaina Swann Bootstrap Portfolio website.
  
   NAME: style.css
   AUTHOR: Elaina Swann
   DATE: 11/30/2017
   REVISION LOG:  
*/

html, body {
  background-image: url("../images/vintage-concrete.png");
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

.navbar {
  color: #ffffff;
}

.navbar-header {
  background: #4aaaa5;
}

#brand {
  color: #ffffff;
  font-family: "Georgia", "Times", "Times New Roman", "serif";
}

.navbar-fixed-bottom, .navbar-footer {
  background: #666666;
  border-top: .5rem solid #4aaaa5;
}

.navbar-footer {
  margin-top: 2rem;
}

#main {
  padding: inherit;
}

#content, #sidebar {
  background: #ffffff;
}

#content-header, #sidebar-header, #footer {
  color: #4aaaa5;
  font-family: "Georgia", "Times", "Times New Roman", "serif";
}

#img-profile {
  margin-bottom: 1.875rem;
}

.profile-summary {
  font-size: 1.875rem;
}

.img-container {
  margin: 0 3rem 2rem 3rem;
  padding: 0;
  position: relative;
  height: 25rem;
}

.img-portfolio {
  height: 100%;
  margin-bottom: 1.25rem;
  width: 100%;
}

.img-caption {
  align-items: center;
  background: #4aaaa5;
  bottom: 2%;
  color: #ffffff;
  display: flex;
  height: 10%;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
}

.img-h4 {
  color: #ffffff;
}

#form-button {
  background: #4aaaa5;
  color: #ffffff;
  margin-bottom: 1.875rem; 
}

.li-social {
  margin: .5rem;
}

















